<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:<b>
* List of popular languages for Data Science
* List of commonly used libraries for Data Science
* Creation of table
* Use of headings

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. Keras
1. TensorFlow

|Data Science Tools|
|----|
|MySQL|
|Apache Superset|
|KubeFlow|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3*4)+5
result

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
b = 200/60
b

3.3333333333333335

<h2>Author<h2> 
    
Edvards Snepsts